@import "tailwindcss";
@import "./cmdk";

html, body {
  width: 100%;
  height: 100%;
}

.mylar {
  display: grid;
  grid:
    "layers  tags    search  menu" auto
    ".       .       .       menu" auto
    ".       .       .       ." 1fr
    "context context context debug" auto
    / auto auto 3fr minmax(auto, 1fr);
}


.mylar-layers {
  grid-area: layers;
}

.mylar-tags {
  grid-area: tags;
}

.mylar-search {
  grid-area: search;
}

.mylar-menu {
  grid-area: menu;
}

.mylar-context {
  grid-area: context;
}

.mylar-debug {
  grid-area: debug;
}

canvas {
  image-rendering: pixelated;
}

.gesture-key {
  font-family: var(--font-sans);
  background: var(--gray3);
  color: var(--gray11);
  height: 20px;
  min-width: 20px;
  border-radius: var(--rounded-xs);
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: normal;
}
