@import "tailwindcss";
@import "./cmdk";

html, body {
  width: 100%;
  height: 100%;
}

.mylar-content {
  display: grid;
  grid:
    "a     b     c" 1fr
    "d     e     f" 1fr
    "line     line     info" auto
    / 3fr 1fr minmax(auto, 1fr);
}

.mylar-content-info {
  grid-area: info;
}

.mylar-content-line {
  grid-area: line;
}

canvas {
  image-rendering: pixelated;
}

.gesture-key {
  font-family: var(--font-sans);
  background: var(--gray3);
  color: var(--gray11);
  height: 20px;
  min-width: 20px;
  border-radius: var(--rounded-xs);
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: normal;
}
